@model SacramentMeetingPlanner.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberFull" class="control-label"></label>
                <input asp-for="MemberFull" class="form-control"  />
                <span asp-validation-for="MemberFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <input asp-for="Birth" class="form-control" />
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>


            @{ List<SacramentMeetingPlanner.Models.PlannerViewModels.AssignedMemberData> callings = ViewBag.Callings;
                <div class="calling1 form-group">
                    <label class="control-label" for="calling">Calling</label>
                    <select class="form-control" id="calling" name="selectedCallings">
                        <option value="" disabled selected>-- Select a Calling --</option>
                        @foreach (var calling in callings)
                        {
                            <option value="@calling.CallingId">@calling.CallingName</option>
                        }
                    </select>
                </div>

                <div class="calling2 form-group">
                    <label class="control-label" for="calling">Calling</label>
                    <select class="form-control" id="calling" name="selectedCallings">
                        <option value="" disabled selected>-- Select a Calling --</option>
                        @foreach (var calling in callings)
                        {
                            <option value="@calling.CallingId">@calling.CallingName</option>
                        }
                    </select>
                </div>

                <div class="calling3 form-group">
                    <label class="control-label" for="calling">Calling</label>
                    <select class="form-control" id="calling" name="selectedCallings">
                        <option value="" disabled selected>-- Select a Calling --</option>
                        @foreach (var calling in callings)
                        {
                            <option value="@calling.CallingId">@calling.CallingName</option>
                        }
                    </select>
                </div>
            }

            <button type="button" class="mb-2" onclick="addCalling()">Add a Calling</button>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
