@model SacramentMeetingPlanner.Models.PlannerViewModels.MemberIndexData

@{
    ViewData["Title"] = "Index";
}

<h1>Members</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Age
            </th>
            <th>
                Calling
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Members) {

    string selectedRow = "";
    if(item.MemberId == (int?)ViewData["MemberId"])
    {
        selectedRow = "table-success";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.MemberFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @foreach (var calling in item.Calling_Members)
                {
                    @calling.Calling.CallingName <br />
                }
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
