@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planner</h4>
    <hr />
    <div class="plannerSheet">
        <div class="box">
            <h4>Rexburg YSA Word</h4>
            <h4>@Html.DisplayFor(model => model.PlannedDate)</h4>
        </div>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.Conducting)
            </span>---------------------------------------------------------
            <span>
                @Html.DisplayFor(model => model.Conducting)
            </span>
        </p>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </span>-------------------
            <span>
                @Html.DisplayFor(model => model.OpeningHymn)
            </span>
        </p>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.Invocation)
            </span>---------------------------------------------------------
            <span>
                @Html.DisplayFor(model => model.Invocation)
            </span>
        </p>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </span>-------------------
            <span>
                @Html.DisplayFor(model => model.SacramentHymn)
            </span>
        </p>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.Topic)
            </span>---------------------------------------------------------
            <span>
                @Html.DisplayFor(model => model.Topic)
            </span>
        </p>
        <p>
            <span>
                Speaker
            </span>---------------------------------------------------------
            <span class="m-1">
                @foreach (var member in Model.Planner_Members)
                {
                    @member.Member.MemberFull<br />
                }
            </span>
        </p>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </span>-------------------
            <span>
                @Html.DisplayFor(model => model.ClosingHymn)
            </span>
        </p>
        <p>
            <span>
                @Html.DisplayNameFor(model => model.Benediction)
            </span>---------------------------------------------------------
            <span>
                @Html.DisplayFor(model => model.Benediction)
            </span>
        </p>
    </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.PlannerId" class="btn btn-secondary">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
