@model IEnumerable<SacramentMeetingPlanner.Models.Planner>

@{
    ViewData["Title"] = "Index";
}

<h1>Planner</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlannedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.PlannerId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PlannerId">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PlannerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
